@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(
    45deg,
    #512eab,
    #ad8cff,
    #8795e8,
    #94d0ff,
    #8cebff
  );
  background-size: 400% 400%;
  animation: gradient 7s ease-in-out infinite;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
}

.username {
  margin-right: 15px;
}

.logoutBtn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
